<div class="d-flex flex-row-reverse"  style="margin-inline-end:20px;">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link text-white" href="/logout">LOGOUT</a>
  </li>


  
  
</ul>
</div>