<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <script src="https://code.jquery.com/jquery-3.4.1.js">
    </script><script src="/src/ajaxrequest.js"></script>
    
    <script src="/src/script.js"></script>
    
</head>
<body>
    
    <form action="/user/login" method="POST" id="login">
  
  <br>
  Email:<br>
  <input id="email" required type="email" name="email" >
  <br>
  
  Password:<br>
  <input id="password" required type="password" name="password">
  
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>